.app-status-list {

}

.app-status-list__list-item,
li.app-status-list__list-item {
  margin-bottom: 15px;
  @include govuk-media-query(tablet) {
    margin-bottom: 25px;
  }
}

.app-status-list__link {
  display: block;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(11, 12, 12, 0.2);
  border: $govuk-border-width-form-element solid transparent;
  @include govuk-link-style-default;
  &:focus {
    border-color: $govuk-focus-colour;
    outline: $govuk-focus-width solid transparent;
  }
  @include govuk-media-query(tablet) {
    padding: 25px;
  }
}

.app-status-list__link-text {
  color: inherit;
  text-decoration: underline;
  margin: 0;
}

