{% extends "template.html" %}
{% set pageTitle = "Digital Apprenticeship Service" %}
{% set hideStatusBanner = true %}
{% set loggedIn = true %}

{% block afterheader %}
<div class="app-user-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body-l app-user-header__name">James King</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="#" class="govuk-link app-user-header__link">Sign out</a>
      </div>
    </div>
  </div>
</div>
<div class="app-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row app-page-header__row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl app-page-header__heading">My apprenticeship(s)</h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-page-header__highlight">
          <h2 class="govuk-heading-s">Who has committed so far:</h2>
          <ul class="govuk-list das-icon-list govuk-!-font-size-16 govuk-!-margin-0">
            <li class="das-icon-list__list-item">
              You, the apprentice
              <span class="das-icon-list__icon das-icon-list__icon--tick">has committed</span>
              <a href="#123" class="govuk-link app-page-header__commitment-link">View <span class="govuk-visually-hidden">the</span> commitment <span class="govuk-visually-hidden">made by you</span></a>
            </li>
            <li class="das-icon-list__list-item">
              Training provider
              <span class="das-icon-list__icon das-icon-list__icon--cross">has not committed</span>
            </li>
            <li class="das-icon-list__list-item">
              The employer
              <span class="das-icon-list__icon das-icon-list__icon--cross">has not committed</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
        <span class="app-notification-banner__icon das-text--success-icon"></span>
        You have confirmed your training provider
      </div>

      <div class="app-notification-banner app-notification-banner--success">
        You have confirmed your training provider
      </div>
      
      <h2 class="govuk-heading-l">Confirming your apprenticeship</h2>
      <p>Review all the details below to confirm your apprenticeship.</p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You have 14 days to confirm your apprenticeship
        </strong>
      </div>

      <ol class="govuk-list app-status-list">
        <li class="app-status-list__list-item">
          <a href="#" class="app-status-list__link app-status-list__link--success">
            <div class="app-status-list__link-content">
              <h3 class="app-status-list__link-text">Your employer</h3>
              <strong class="app-status-list__tag govuk-tag govuk-tag--green">
                Complete
              </strong>
            </div>
          </a>
        </li>
        <li class="app-status-list__list-item">
          <a href="#" class="app-status-list__link app-status-list__link--error">

            <div class="app-status-list__link-content">
            <h3 class="app-status-list__link-text">Your training provider</h3>
            <strong class="app-status-list__tag govuk-tag govuk-tag--red">
              Waiting for correction
            </strong>
            </div>
          </a>
        </li>

        <li class="app-status-list__list-item">
          <a href="#" class="app-status-list__link">
            <div class="app-status-list__link-content">
            <h3 class="app-status-list__link-text">Details of your apprenticeship</h3>
            <strong class="app-status-list__tag govuk-tag govuk-tag--yellow">
              Incomplete
            </strong>
            </div>
          </a>
        </li>
      </ol>

    </div>
</div>



{% endblock  %}
